{% extends 'base.html' %}
{% block title %}The List{% endblock %}
{% block content %}
  <h3>Movies</h3>
  <ul>
    {% for movies in movies %}
    <li>{{ movies['title'] }}</li>
    {% endfor %}
  </ul>
  <h3>Video Games</h3>
  <ul>
    {% for v_games in v_games %}
    <li>{{ v_games['title'] }}</li>
    {% endfor %}
  </ul>
{% endblock %}
{% block footer %}
<nav>
  <a href="{{url_for('list.add_movies')}}">add movies</a>
  <a href="{{url_for('list.add_v_games')}}">add vdieo games</a>
  <a href="{{url_for('list.add_music')}}">add music</a>
</nav>
{% endblock %}
